@mixin flex-center {
    display: flex;
    align-items: center;
}
.header {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: fixed;
    z-index: 999;
}
.header__inner {
    height: 60px;
    width: 100%;
    @include flex-center();
    justify-content: space-between;
}
.nav__logo {
    font-size: clamp(1.4rem, 4vw, 2rem);
    font-family: sans-serif !important;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 1px #808d93, -1px 0px #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93,
        -3px 2px #cdd2d5, -4px 3px #808d93;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
    & svg {
        margin-bottom: 10px;
    }
}
.nav__menu {
    @include flex-center();
    flex-direction: row;
    height: 100%;
    margin: 0;
    @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.8);
        z-index: -1;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        height: calc(100vh - 60px);
        transform: scale(0);
        li:nth-child(odd) {
            transform: translateX(30%);
            margin: 1rem;
        }
        li:nth-child(even) {
            transform: translateX(-30%);
            margin: 1rem;
        }
        &.active {
            transition: 0.3s ease-in-out;
            transform: scale(1);
            li {
                transition: 0.3s 0.2s ease-in-out;
                line-height: 1.5;
                transform: translateX(0);
            }
        }
    }
    li {
        margin: 0 1.5rem;
        transition: all 0.3s linear;
        cursor: pointer;
        color: #fff;
        list-style-type: none;
        border-radius: 10px;
        padding: 0 1rem;
        font-family: "Cera Pro Med", sans-serif !important;
        user-select: none;
        color: #fff;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        @media screen and (max-width: 992px) {
            font-family: 1rem;
            padding: 0 0.5rem;
            margin: 0 0.5rem;
        }

        &.active {
            border-bottom: 2px solid cyan;
            border-top: 2px solid cyan;
            padding: 0.5rem 1rem;
            color: cyan;
            @media screen and (max-width: 992px) {
                padding: 0.3rem 0.5rem;
            }
        }
    }
}
.menu__icon {
    font-size: 1.5rem;
    font-family: sans-serif;
    cursor: pointer;
}
