.home {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    @include flex-center();
    font-family: "Cera Pro Bold", sans-serif !important;
    font-weight: 600;
    color: #fff;
    font-weight: bold;
    background: rgba(0, 0, 0, 1);
    position: relative;

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        h3 {
            font-size: 1.8rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px cyan;
        }
    }

    &__img {
        background: url("../images/bg-10.png"), transparent;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        width: 100%;
        height: 100%;
        min-height: 450px;
        @media screen and (max-width: 768px) {
            min-height: 300px;
        }
    }
    &__title {
        font-weight: bold;
        line-height: 1.5;
        font-size: 2.7rem;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
    }
    &__p {
        font-weight: normal;
        color: #fff;
        line-height: 1.5;
        font-size: 1.5rem;
        @media screen and (max-width: 768px) {
            font-size: 1.2rem;
        }
    }
}
.text-yellow {
    color: rgb(3, 211, 211);
}
.home__btn {
    border-radius: 50px;
    outline: none !important;
    background: transparent;
    padding: 0.2rem clamp(0.5rem, 2.5vw, 1rem);
    border: 2px dotted #03d3d3;
    font-size: clamp(0.5rem, 2.5vw, 1.4rem);
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    & span {
        position: absolute;
        width: 25%;
        height: 100%;
        background: #03d3d3;
        transform: translateY(150%);
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        border-radius: 20px;
        z-index: -1;
        text-align: center;
    }
    & li {
        color: #fff;
        text-decoration: none;
        list-style-type: none;
        text-transform: capitalize;
    }
    & li:hover {
        color: #000;
    }

    &:focus {
        outline: none;
    }
    &:hover {
        color: #000;
        transition: 0.5s;
        font-weight: bold;
    }

    &:hover span {
        transform: translateY(0) scale(2);
    }

    & span:nth-child(1) {
        --n: 1;
    }
    & span:nth-child(2) {
        --n: 2;
    }
    & span:nth-child(3) {
        --n: 3;
    }
    & span:nth-child(4) {
        --n: 4;
    }
}
