.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  z-index: 999;
}

.header__inner {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-family: sans-serif !important;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  text-shadow: 0 1px #808d93, -1px 0px #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -4px 3px #808d93;
}

.nav__logo:hover {
  text-decoration: none;
  color: #fff;
}

.nav__logo svg {
  margin-bottom: 10px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    height: calc(100vh - 60px);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .nav__menu li:nth-child(odd) {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
    margin: 1rem;
  }
  .nav__menu li:nth-child(even) {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    margin: 1rem;
  }
  .nav__menu.active {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .nav__menu.active li {
    -webkit-transition: 0.3s 0.2s ease-in-out;
    transition: 0.3s 0.2s ease-in-out;
    line-height: 1.5;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav__menu li {
  margin: 0 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  color: #fff;
  list-style-type: none;
  border-radius: 10px;
  padding: 0 1rem;
  font-family: "Cera Pro Med", sans-serif !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

@media screen and (max-width: 992px) {
  .nav__menu li {
    font-family: 1rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
  }
}

.nav__menu li.active {
  border-bottom: 2px solid cyan;
  border-top: 2px solid cyan;
  padding: 0.5rem 1rem;
  color: cyan;
}

@media screen and (max-width: 992px) {
  .nav__menu li.active {
    padding: 0.3rem 0.5rem;
  }
}

.menu__icon {
  font-size: 1.5rem;
  font-family: sans-serif;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .menu__icon {
    display: block;
  }
}

.home {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cera Pro Bold", sans-serif !important;
  font-weight: 600;
  color: #fff;
  font-weight: bold;
  background: black;
  position: relative;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__content h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px cyan;
}

.home__img {
  background: url("../images/bg-10.png"), transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

@media screen and (max-width: 768px) {
  .home__img {
    min-height: 300px;
  }
}

.home__title {
  font-weight: bold;
  line-height: 1.5;
  font-size: 2.7rem;
}

@media screen and (max-width: 768px) {
  .home__title {
    font-size: 2rem;
  }
}

.home__p {
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .home__p {
    font-size: 1.2rem;
  }
}

.text-yellow {
  color: #03d3d3;
}

.home__btn {
  border-radius: 50px;
  outline: none !important;
  background: transparent;
  padding: 0.2rem clamp(0.5rem, 2.5vw, 1rem);
  border: 2px dotted #03d3d3;
  font-size: clamp(0.5rem, 2.5vw, 1.4rem);
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.home__btn span {
  position: absolute;
  width: 25%;
  height: 100%;
  background: #03d3d3;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  left: calc((var(--n) - 1) * 25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
  border-radius: 20px;
  z-index: -1;
  text-align: center;
}

.home__btn li {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  text-transform: capitalize;
}

.home__btn li:hover {
  color: #000;
}

.home__btn:focus {
  outline: none;
}

.home__btn:hover {
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
}

.home__btn:hover span {
  -webkit-transform: translateY(0) scale(2);
          transform: translateY(0) scale(2);
}

.home__btn span:nth-child(1) {
  --n: 1;
}

.home__btn span:nth-child(2) {
  --n: 2;
}

.home__btn span:nth-child(3) {
  --n: 3;
}

.home__btn span:nth-child(4) {
  --n: 4;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPRO.woff") format("woff");
}

@font-face {
  font-family: "Cera Pro Bold";
  src: url("../fonts/CeraPRO-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cera Pro Med";
  src: url("../fonts/CeraPRO-Medium.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(#3391df), color-stop(cyan), color-stop(#3391df), color-stop(cyan), color-stop(#3391df), color-stop(cyan), color-stop(#3391df), color-stop(cyan), to(#007acc));
  background: linear-gradient(to top, #3391df, cyan, #3391df, cyan, #3391df, cyan, #3391df, cyan, #007acc);
}

.layout-section {
  padding-top: 60px;
  width: 100%;
  overflow: hidden;
}
/*# sourceMappingURL=index.css.map */